name: Latest Debian Packages
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest Debian Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "DEBIAN-PACKAGES-LIST"
          feed_list: "https://repo.vitexsoftware.com/rss.php"
          
          
